<h1>Articles listing page</h1>

<head> 
  <style>
      table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
        <%= link_to 'Show', article_path(article) %> |
        <%= link_to 'Edit', edit_article_path(article)%> |
        <%= link_to 'Delete', article_path(article), method: :delete %> 
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h4><%= link_to 'Create new article', new_article_path() %></h4>
  
  </body>