    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Alpha Rails Blog", root_path, class: "navbar-brand", id: "logo" %>
      <button class="navbar-toggler" id="toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if logged_in? %>
            <li class="nav-item">
              <%= current_user.admin? ? (link_to "Admin ", current_user, class:"nav-link") : ""  %> 
            </li>

            <li class="nav-item">
              <%= link_to gravatar_for(current_user, size: 30), current_user, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to current_user.username, current_user, class:"nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "Logout", logout_path, class:"nav-link", method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", login_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Sign up", signup_path, class:"nav-link" %>
            </li>
            <% end %>

          <li class="nav-item">
            <%= link_to "Bloggers", users_path, class:"nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Articles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Articles', articles_path, class: "dropdown-item" %>
              <% if logged_in?%>
                <%= link_to 'New Article', new_article_path, class: "dropdown-item" %>
              <% else %>
              <%= link_to 'New Article', new_article_path, class: "disabled dropdown-item" %>
              <% end %>
            </div>
          </li>

        </ul>
      </div>
    </nav>